/* src/assets/styles/lightTheme.css */
body.light {
    background-color: #f0f0f0;
    color: #333;
}

.quiz-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

button {
    background-color: #2470bc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #B3C8CF;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    background-color: #E5DDC5;
    height: 20px;
}
